<div class="container">
    <div class="jumbotron mt-5">
        <div class="col-sm-8 mx-auto">
            <h1 style="text-align: center"> PERFIL DEL USUARIO </h1>
        </div>
        <table class="table col-md-6 mx-auto">
            <tr>
                <td>
                    Nombre
                </td>
                <td>
                    {{user.nombre}}
                </td>
            </tr>
            <tr>
                <td>
                    Correo
                </td>
                <td>
                    {{user.email}}
                </td>
            </tr>
            <tr>
                <td>
                    Puntos
                </td>
                <td>
                    {{user.puntos}}
                </td>
            </tr>
        </table>
    </div>
</div>
