<app-header></app-header>

<div class="container-fluid border Fondo " style="height: 400px;">
        <div class="row">

        </div>

    <div class="row justify-content-center">
        <div class="T_Fondo">
            
            <p><b>SUMATE AL CAMBIO</b></p>
        </div>
    </div>
</div>

<div class="container registro">
<div class="row justify-content-center" >
    <div class="datos">
            <form>
                <br>
                <div class="col-8 col-xl-8 daticos">
                    <input type="text" id="nombre" name="nombre" placeholder="Nombre">
                    <br><br>
                </div>
                <div class="col-8 col-xl-8 daticos">
                    <input type="text" id="apellido" name="apellido" placeholder="Apellido">
                    <br><br>
                </div>
                <div class="col-8 col-xl-8 daticos">
                    <input type="number" id="edad" name="edad" placeholder="Edad">
                    <br><br>
                </div>
                <div class="col-8 col-xl-8 daticos">
                    <input type="text" id="correo" name="correo" placeholder="Correo Electrónico">
                    <br><br>
                </div>
                <div class="col-8 col-xl-8 daticos">
                    <input type="password" id="contraseña" name="contraseña" placeholder="Contraseña">
                    <br><br>
                </div>
                <div class="col-8 col-xl-8 daticos">
                    <input type="password" id="contraseña2" name="contraseña2" placeholder="Confirmar Contraseña">
                    <br><br>
                </div>

              </form> 
        <div class="row  justify-content-center">
                    <div class="col-4 boton1 borde11">
                        <button type="button" class="btn btn-block"><a routerLink="/involucrate">REGISTRARME</a></button>
                    <br><br>
                    </div>
            </div>

    </div>
</div>
</div>

