<div class="row headerColor">
    <div class="col-10 col-md-6 Logo  ">
        <img src="assets/Imagenes/Logo1.png" alt="Logo" id="LogoImg" routerLink="/">
        
    </div>
        
    <div class="col-6 d-none d-md-block Menu" >
        
        <ul class="nav">
            <li><a routerLink="/"class="dropbtn">INICIO</a></li>
            <li><a routerLink="/conocenos"class="dropbtn">CONÓCENOS</a></li>
            <li>
                <!--
                <a routerLink="/">INVOLÚCRATE</a>
                <ul class="col-6 col-xl-3 nav2">
                    <form>
                        <br><br>
                        <li><input type="text" id="email" name="correo" placeholder="Correo Electrónico"></li>
                        <br><br>
                        <li><input type="password" id="passw" name="contraseña" placeholder="Contraseña"></li>
                        <br><br>
                        <li><a routerLink="/registrarse" id="cuenta">Crear una cuenta</a></li>
                    
                    </form>
                    <button type="button" class="boton0"><a routerLink="/involucrate">Iniciar Sesión</a></button>
                </ul>
                -->
                <div class="dropdown" style="float:right;">
                    <a  class="dropbtn">INVOLÚCRATE</a>
                    <div class="dropdown-content">
                        <form>
                            <br><br>
                            <!--<li><input type="text" id="email" name="correo" placeholder="Correo Electrónico"class="bloque"></li>
                            <br><br>
                            <li><input type="password" id="passw" name="contraseña" placeholder="Contraseña"class="bloque"></li>
                            <br>-->
                            <li><a routerLink="/inicio_sesion" class="bloque">Iniciar Sesión</a></li>
                            
                            <br>
                            <li><a routerLink="/registrarse"  class="bloque2">Crear una cuenta</a></li>
                        </form>
                    </div>
                </div>
            </li>
                
        </ul>
    </div>
    <div class="col-2  d-md-none  bordem">
        <img src="assets/Imagenes/Menu.png" alt="IconoMenu">
        
    </div>
</div>