<div class="container-fluid">
<div class="footer">
        <div class="row justify-content-around">
           <div class="col-12 frase">
                   <p><b>"Como consumidor tienes mucho por hacer para el Planeta"</b></p>
           </div>
         </div>
        <div class="row Redes">
            <div class="col-3">
                <a href="#">
                  <img src="assets/Imagenes/facebook.png" alt="facebook" style="width:10%" >
                 </a>
                 <a href="#">
                        <img src="assets/Imagenes/twitter.png" alt="twitter" style="width:10%" >
                       </a>
                       <a href="#">
                            <img src="assets/Imagenes/youtube.png" alt="youtube" style="width:10%" >
                           </a>
                           <a href="#">
                                <img src="assets/Imagenes/instagram.png" alt="Instagram" style="width:10%" >
                               </a>
            </div>

        </div> 
        <div class="row justify-content-around">
             <div class="col-12 frase1">
                
            </div>
         </div>
         <div class="row justify-content-around">
                <div class="col-8 frase1">
                   <p>Tu Impacto Colombia 2019 © </p>
               </div>
               <div class="col-3 frase1 float-right">
                    <p>Terminos y Condiciones</p>
                </div>
         </div>
        
    </div>
</div>