<div class="footer">
        <div class="row">
           <div class="col-12 frase">
                   <p><b>"Lorem ipsum dolor sit amet consectetur adipisicing elit."</b></p>
           </div>
         </div>
        <div class="row Redes">
            <div class="col-3">
                <a href="#">
                  <img src="assets/Imagenes/facebook.png" alt="facebook" style="width:10%" >
                 </a>
                 <a href="#">
                        <img src="assets/Imagenes/twitter.png" alt="twitter" style="width:10%" >
                       </a>
                       <a href="#">
                            <img src="assets/Imagenes/youtube.png" alt="youtube" style="width:10%" >
                           </a>
                           <a href="#">
                                <img src="assets/Imagenes/instagram.png" alt="Instagram" style="width:10%" >
                               </a>
            </div>

        </div> 
        <div class="row">
             <div class="col-12 frase1">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
         </div>
         <div class="row">
                <div class="col-9 frase1">
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
               </div>
               <div class="col-3 frase1 float-right">
                    <p>consectetur adipisicing elit.</p>
                </div>
         </div>
        
    </div>