<app-header></app-header>
<div class="container">


        <!--<div class="row mundo justify-content-center">
            <img class="iconM" src="assets/Imagenes/Mundo.png" alt="Mundo" style="width: 25em">
        </div>
    -->
        <div class="row iconos1 justify-content-around">
                <div class="icon1 col-8 col-md-4 col-xl-3" >
                        <img class="iconP" src="assets/Imagenes/Botella.png" alt="Icono" style="width: 10em">
                </div>
        
                <div class="icon2 col-8 col-md-4 col-xl-3" >
                    <img class="iconP" src="assets/Imagenes/Cepillo.png" alt="Icono" style="width: 10em" >
                </div>
        
                <div class="icon3 col-8 col-md-4 col-xl-3" >
                    <img class="iconP" src="assets/Imagenes/BolsaP.png" alt="Icono" style="width: 10em">
                </div>
                </div>
        <div class="nubes">
            <img src="assets/Imagenes/nubes.png" alt="Nubes">
            <div class="mapa">

            </div>
        </div>

        <div class="row iconos2 justify-content-around">
            <div class="icon1 col-8 col-md-4 col-xl-3" >
                    <img class="iconP" src="assets/Imagenes/Recipiente.png" alt="Icono" style="width: 10em">
            </div>
    
            <div class="icon2 col-8 col-md-4 col-xl-3" >
                <img class="iconP" src="assets/Imagenes/Maquina.png" alt="Icono" style="width: 10em" >
            </div>
    
            <div class="icon3 col-8 col-md-4 col-xl-3" >
                <img class="iconP" src="assets/Imagenes/Pitillos.png" alt="Icono" style="width: 10em">
            </div>
            </div>
</div>
