<app-header></app-header>
<body>


        <!--<div class="row mundo justify-content-center">
            <img class="iconM" src="assets/Imagenes/Mundo.png" alt="Mundo" style="width: 25em">
        </div>
    -->
    <div class="estrella primera"></div>
    <div class="estrella segunda"></div>
    <div class="estrella tercera"></div>
    <div class="estrella cuarta"></div>
    <div class="estrella quinta"></div>
    <div class="estrella sexta"></div>
    <div class="estrella septima"></div>
    <div class="estrella octava"></div>
    <div class="estrella novena"></div>
    <div class="estrella decima"></div>
    <div class="estrella undecima"></div>
    <div class="estrella doce"></div>




    <div class="container">
            <div class="row justify-content-around iconos1">
                    <div class="icon1 col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3" >
                            <img class="iconP" src="assets/Imagenes/Botella.png" alt="Icono" >
                    </div>
            
                    <div class="icon2 col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3" >
                        <img class="iconP" src="assets/Imagenes/Cepillo.png" alt="Icono" >
                    </div>
            
                    <div class="icon3 col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3" >
                        <img class="iconP" src="assets/Imagenes/BolsaP.png" alt="Icono">
                    </div>
            </div>

            <div class="row justify-content-around nubes">
                    <div class="map col-xs-12 col-sm-12 col-md-8 col-lg-4 col-xl-4" >
                    <!--<img src="assets/Imagenes/Nube.png" alt="Nubes">-->
                <div class="mapa"></div>
                   </div> 
            </div>
        
            <div class="row justify-content-around iconos2">
                    <div class="icon1 col-xs-12 col-sm-12 col-md-8 col-lg-3 col-xl-3" >
                            <img class="iconP" src="assets/Imagenes/Recipiente.png" alt="Icono">
                    </div>
            
                    <div class="icon2 col-xs-12 col-sm-12 col-md-8 col-lg-3 col-xl-3" >
                        <img class="iconP" src="assets/Imagenes/Maquina.png" alt="Icono" >
                    </div>
            
                    <div class="icon3 col-xs-12 col-sm-12 col-md-8 col-lg-3 col-xl-3" >
                        <img class="iconP" src="assets/Imagenes/Pitillos.png" alt="Icono">
                    </div>
            </div>
     </div>


</body>