<app-header></app-header>
<div class="container">
    <div class="row justify-content-center texto">
        <p>Estudiantes de Ingeniería Multimedia de la Universidad Militar Nueva Granada, que buscan crear conciencia por medio de una pagina web sobre el masivo uso  del plástico y como este afecta los entornos marinos, de igual manera cómo se puede disminuir su consumo.</p>
    </div>
    <div class="row Tarjetas justify-content-center">
        <div class="card col-12 col-md-4 cardNo" >
                <img class="card-img-top" src="assets/Imagenes/Cara3.jpg" alt="Card image" >
                <div class="card-body">
                    <h4 class="card-title name">Leandra Moreno</h4>
                    <p class="card-text"></p>
                    
                </div>
        </div>
        <div class="card col-12 col-md-4 cardNo" >
                <img class="card-img-top" src="assets/Imagenes/Cara2.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title name">Erikson Romero</h4>
                    <p class="card-text"></p>
                    
                </div>
        </div>
        <div class="card col-12 col-md-4 cardNo" >
                <img class="card-img-top" src="assets/Imagenes/Cara1.jpg" alt="Card image " >
                <div class="card-body">
                    <h4 class="card-title name">Cesar Rojas</h4>
                    <p class="card-text"></p>
                    
                </div>
        </div>
    </div>
</div>