.texto{
    color: #00507d;
    text-align: center;
    padding-top: 4em;
    font-size: 1.4em;
}
.Tarjetas{
    padding:20px 0px;
}
.cardNo{
    /* border-left:5px; */
    opacity: .10;
    transform: scale(0.8);
}
.name{
    text-align: center;
}
.cardNo:hover{
    opacity: 100;
    transform: scale(1);
}

button{
    text-decoration: none;
}

footer{
    background-color: #dae9ec;
    color: #3b3b3b;
}

.frase{
    padding-top: 2.5%;
}

.frases{
    padding-bottom: 0.7em;
}

.red{
    display: inline-block;
    padding-left: 0.2em;
    padding-right: 0.2em;
    width: 4em;
}
