.texto{
    color: #00507d;
    text-align: center;
    padding-top: 4em;
    font-size: 1.4em;
}
.Tarjetas{
    padding:20px 0px;
}
.cardNo{
    /* border-left:5px; */
    opacity: .10;
    transform: scale(0.8);
}
.name{
    text-align: center;
}
.cardNo:hover{
    opacity: 100;
    transform: scale(1);
}
