<div class="container-fluid">
<div class="row justify-content-around headerColor">
        <!--<video src="assets/Imagenes/Video.mov" autoplay loop poster="assets/Imagenes/Oceano.jpg"></video>-->
    <div class="col-8 col-md-6 col-lg-4 col-xl-2 Logo  ">
        <img src="assets/Imagenes/Logo1.png" alt="Logo" id="LogoImg" routerLink="/">

        
    </div>

    <div class="col-2  d-md-none  bordem">
        <!--<img src="assets/Imagenes/Menu.png" alt="IconoMenu">-->
        <!--<button type="button"><img src="assets/Imagenes/Menu.png" alt="IconoMenu"></button>-->
       
        <button (click)="toggleMenu()"><img src="assets/Imagenes/Menu.png" alt="IconoMenu" ></button>
    </div>
    
    <!--<div class="col-6 d-none d-md-block Menu" >-->
            <div class=" col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6  Menu" >
                <ul class=" nav">
                    <li><a class="col-xs-12 col-sm-6 col-md-12 col-lg-6 col-xl-6 dropbtn" routerLink="/">INICIO</a></li>
                    <li><a class="dropbtn" routerLink="/conocenos">CONÓCENOS</a></li>
                    <li><div class="dropdown" style="float:right;">
                            <a  class="dropbtn">INVOLÚCRATE</a>
                            <div class="dropdown-content">
                                    <form>

                                            <li><a routerLink="/inicio_sesion" class="bloque">Iniciar Sesión</a></li>
                                            <li><a routerLink="/registrarse"  class="bloque2">Crear una cuenta</a></li>
                                            <br>
                                    </form>
                            </div>
                        </div>
                    </li>
            </ul>
    </div>
    </div>
</div>

<body>
<div class="container">
    <div class="row justify-content-center texto">
        <p>Estudiantes de Ingeniería Multimedia de la Universidad Militar Nueva Granada, que buscan crear conciencia por medio de una pagina web sobre el masivo uso  del plástico y como este afecta los entornos marinos, de igual manera cómo se puede disminuir su consumo.</p>
    </div>
    <div class="row Tarjetas justify-content-center">
        <div class="card col-12 col-md-4 cardNo" >
                <img class="card-img-top" src="assets/Imagenes/Foto3.jpg" alt="Card image" >
                <div class="card-body">
                    <h4 class="card-title name">Leandra Moreno</h4>
                    <p class="card-text"></p>
                    
                </div>
        </div>
        <div class="card col-12 col-md-4 cardNo" >
                <img class="card-img-top" src="assets/Imagenes/Foto2.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title name">Erikson Romero</h4>
                    <p class="card-text"></p>
                    
                </div>
        </div>
        <div class="card col-12 col-md-4 cardNo" >
                <img class="card-img-top" src="assets/Imagenes/Foto1.jpg" alt="Card image " >
                <div class="card-body">
                    <h4 class="card-title name">Cesar Rojas</h4>
                    <p class="card-text"></p>
                    
                </div>
        </div>
    </div>
</div>

</body>

<footer>
        <div class="container">
        
            <div class="row ">
                   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 frase">
                           <p><b>"Como consumidor tienes mucho por hacer para el Planeta"</b></p>
                   </div>
                 </div>
                <div class="row  Redes">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" class="red">
                        <a target="blank" href="https://www.facebook.com/">
                          <img src="assets/Imagenes/facebook.png" alt="facebook">
                        </a>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-1" class="red">
                         <a target="blank" href="https://twitter.com/?lang=es">
                            <img src="assets/Imagenes/twitter.png" alt="twitter" >
                        </a>
                    </div>  
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-1" class="red">        
                        <a target="blank" href="https://www.youtube.com/">
                            <img src="assets/Imagenes/youtube.png" alt="youtube">
                        </a>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-1 "class="red" > 
                        <a target="blank" href="https://www.instagram.com/?hl=es-la">
                            <img src="assets/Imagenes/instagram.png" alt="Instagram"  >
                        </a>
                    </div>
            </div>
        
                 <div class="row justify-content-around frases">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 frase1">
                           <p>Bogotá, D.C</p>
                           
                       </div>
                       <div class="col-xs-10 col-sm-10 col-md-10 col-lg-8 col-xl-8 frase2 float-right">
                            <p>Tu Impacto Colombia 2019 Copyright © Todos los derechos reservados.</p>
                        </div>
                 </div>
                
            </div>
<footer>