<script src="node_modules/pixi.js/dist/pixi.min.js"></script>
<div class="container-fluid Inicio" style="height: 850px;">
    <div class="row justify-content-around">
        <!--<video src="assets/Imagenes/Video.mov" autoplay loop poster="assets/Imagenes/Oceano.jpg"></video>-->
    <div class="col-8 col-md-6 col-lg-4 col-xl-2 Logo  ">
        <img src="assets/Imagenes/Logo1.png" alt="Logo" id="LogoImg" routerLink="/">
    </div>

    <div class="col-2  d-md-none  bordem">
        <!--<img src="assets/Imagenes/Menu.png" alt="IconoMenu">-->
        <!--<button type="button"><img src="assets/Imagenes/Menu.png" alt="IconoMenu"></button>-->
        
        <button (click)="toggleMenu()"><img src="assets/Imagenes/Menu.png" alt="IconoMenu"></button>
    </div>
    
    <!--<div class="col-6 d-none d-md-block Menu" >-->
            <div class=" col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6  Menu" >
                <ul class=" nav">
                    <li><a class="col-xs-12 col-sm-6 col-md-12 col-lg-6 col-xl-6 dropbtn" routerLink="/"><b>INICIO</b></a></li>
                    <li><a class="dropbtn" routerLink="/conocenos"><b>CONÓCENOS</b></a></li>
                    <li><div class="dropdown" style="float:right;">
                            <a  class="dropbtn"><b>INVOLÚCRATE</b></a>
                            <div class="dropdown-content">
                                    <form>
                                            <!--<li><input type="text" id="email" name="correo" placeholder="Correo Electrónico"class="bloque"></li>
                                            <br><br>
                                            <li><input type="password" id="passw" name="contraseña" placeholder="Contraseña"class="bloque"></li>
                                            <br>-->
                                            <li *ngIf="!auth.isLoggedIn()"><a routerLink="/inicio_sesion" class="bloque">Iniciar Sesión</a></li>
                                            <li *ngIf="!auth.isLoggedIn()"><a routerLink="/registrarse"  class="bloque2">Crear una cuenta</a></li>
                                    </form>
                            </div>
                        </div>
                    </li>
            </ul>
    </div>
    </div>
</div>

<body>
<div class="row  justify-content-center">
        <div class="col-8 col-md-5 col-lg-4 col-xl-3 boton1 borde11">
            <a class="btn" href="#SECCIONIMPACTO">IMPACTO</a>

        </div>
        <div class="col-8 col-md-5 col-lg-4 col-xl-3 boton1 borde11">
            <a class="btn"href="#SECCIONACTUALIDAD">ACTUALIDAD</a>
        </div>

</div>

<div class="container-fluid border Impacto" style="height: 1000px;"id="SECCIONIMPACTO">
        <div class="row">

        </div>

    <div class="row justify-content-around">
        <div class="col-10 col-sm-8 col-md-8 col-lg-8 col-xl-6  T_Impacto">
            
            <p><b>IMPACTO</b></p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center Estadisticas">
            <div class="col-7 col-md-5 col-lg-5 col-xl-2 seccion ">
            <img src="assets/Imagenes/Est3.png"  alt="Estadistica1" width="150" height="150"> 
            </div>
            <div class="col-12  col-md-7 col-lg-4 col-xl-2  seccioninfo">
                <p>mil millones de botellas de plástico de un solo uso son producidas cada año.</p>
                
            </div>
            <div class="col-7  col-md-5 col-lg-5 col-xl-2 seccion ">
                    <img src="assets/Imagenes/Est1.png"  alt="Estadistica1" width="150" height="150"> 
            </div>
            <div class="col-12 col-md-7 col-lg-4 col-xl-2 seccioninfo">
                <p>de los plásticos desechados hasta hoy ha terminado en el medioambiente.</p>
                    
            </div>
            <div class="col-7 col-md-5 col-lg-5 col-xl-2 seccion ">
                    <img src="assets/Imagenes/Est2.png"  alt="Estadistica1" width="150" height="150"> 
            </div>
            <div class="col-12 col-md-7 col-lg-4 col-xl-2  seccioninfo">
                <p>de las tortugas marinas ha ingerido algún desecho plástico al confundirlo con alimento.</p>          
            </div>
        </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-around Informacion" >

            <div class="col-12 col-sm-10 col-md-10  col-lg-8 col-xl-4 I_Info ">
                  <img src="assets/Imagenes/Plastico.jpg"  class="img-fluid" alt="Plastico"> 
               </div>
               <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-7 T_Info">
                   <br>
                  <p><b>La contaminación del entorno marino debido al plástico causa anualmente la muerte de 100.000 mamíferos marinos y de un millón de aves, según cifras de la Organización de las Naciones Unidas (ONU). Hoy en día, de todo el plástico que se ha producido y consumido, solo el 9% se ha reciclado, el 12% se ha incinerado, y la gran mayoría, el 79% (unos 6.300 millones de toneladas), ha terminado en vertederos, océanos o en el medio ambiente y ya han sido hallados hasta en las zonas más profundas, a más de100.000 metros de profundidad.</b></p>
                   
               </div>
    </div>
       
   
             <div class="row justify-content-around MoreInfo">
               
               <div class="col-12 col-sm-10  col-md-10 col-lg-10 col-xl-6   T_MInfo">
                   <p>Cada año se desechan entre 5 y 12,7 millones de toneladas métricas de plástico por parte de las personas que viven a 50 kilómetros de la costa, pero los plásticos que se encuentra en la superficie representan menos del 15% de todos los desechos que hay en el mar.
                    En el momento que los objetos de plástico llegan al mar pueden dispersarse fácilmente y quedarse flotando en la superficie, ser ingeridos por la fauna marina, hundirse y acumularse en su parte inferior o incluso pueden quedar atrapados en el hielo del Ártico, por esta razón es que se encuentran restos de plásticos alrededor del planeta
                    </p>
               </div>
                
                <div class=" col-12 col-sm-10 col-md-10 col-lg-10 col-xl-6  I_MInfo ">
                  <img src="assets/Imagenes/Playa.jpg" class="img-fluid" alt="Imagen" > 
               </div>
                   
           </div>


           <div class="row justify-content-around Contenido">
                <div class="col-12 col-sm-10 col-md-10 col-lg-10 col-xl-5 I1_MInfo ">
                   <img src="assets/Imagenes/Plastico2.jpg"  alt="Imagen" class="img-fluid" > 
           </div>
           <div class="col-12 col-sm-10  col-md-10 col-lg-10 col-xl-7 T1_MInfo ">
               <br>
               <p>El rápido aumento de productos de plásticos comenzó en las décadas de 1920 y 1930 en Estados Unidos, desde donde se extendió al resto del mundo. En los últimos 65 años se calcula se han producido 8.300 millones de toneladas en el mundo y más de la mitad de todo esto ha sido fabricado en los últimos 13 años. 
                Paradójicamente, cuando hace menos de un siglo se comenzó a usar este material a escala industrial, se pensó que era la promesa de un futuro utópico, hoy en día “Existen suficientes restos de plásticos en el mundo para cubrir un país entero del tamaño de Argentina”, dijo Roland Greyer, investigador de la Universidad de California en Santa Bárbara, no extraña entonces que los ecologistas hablen de un "apocalipsis del plástico" y se multiplique por el mundo la prohibición de su uso.
                </p>
                    
           </div> 
       </div>
   
           <div class="row justify-content-around  Contenido2">
          
           <div class="col-12 col-sm-10 col-md-10 col-lg-10 col-xl-5 I1_MInfo ">
                   <img src="assets/Imagenes/Tortuga2.jpg" class="img-fluid" alt=""> 
           </div>
           <div class="col-12 col-sm-10  col-md-10 col-lg-10 col-xl-7 T1_MInfo ">
               
               <p>Actualmente América, Japón y la Unión Europea son los mayores productores de desechos plásticos per cápita, estas zonas superficiales tienen una elevada concentración de microplásticos en las costas y el litoral, especialmente en regiones con altas poblaciones costeras, con sistemas de gestión de residuos inadecuados, pesquerías intensivas, o turismo elevado.
                No hay duda de que el océano sostiene la vida en la tierra y el 80% del turismo en el mundo se realiza cerca del mar, pero la cantidad de millones de toneladas de residuos de plástico que existen en el mar, equivale a arrojar cada minuto un camión lleno de plástico en ellos, lo que revela una tendencia creciente en la producción y consumo de este material, sin preocuparse por el lugar a dónde van a parar y los efectos que causan.
                </p>
               </div>
                        
           </div>
        </div> 
        <div class="container-fluid col-10 d-md-block">
                <div class="row justify-content-center tips snip1361">
            
  
             
              <figure class="snip1361">
                  <img src="assets/Imagenes/Bolsa.jpg" alt="sample45" />
                  <figcaption>
                    <h3>Cifras como las siguientes deberían alertarnos para generar cambios favorables en el ecosistema.</h3>
                    <p>•Cada año en el mundo son utilizadas cerca de 500 mil millones de bolsas de plástico. <br>
                      •	El tiempo de vida útil de una bolsa de plástico, es de un cuarto de hora.<br>
                      •	Se estima que, en promedio, cada habitante de la Tierra utiliza 150 bolsas al año, material suficiente para dar la vuelta al mundo unas 4.200 veces.  <br>
                      •	Para el año 2050 habrá (por peso) más plástico que peces en los océanos del mundo.<br>
                      •	Los envases y productos hechos de plástico que hoy están en los océanos, pueden rodear la Tierra cuatro veces en un solo año. <br>
                      •	El 80% de la contaminación en este ecosistema es causada por el ser</p>
                  </figcaption>
                  <a href="#"></a>
                </figure>  
              </div>    
      </div>
  
   <div class="container-fluid   border Actualidad" style="height: 1000px;" id="SECCIONACTUALIDAD">
             
           <div class="row justify-content-around">
               <div class="col-10 col-sm-8 col-md-8 col-lg-8 col-xl-4  T_Actualidad">
                   
                   <p><b>ACTUALIDAD</b></p>
               </div>
           </div>
   </div>

<div class="container">
   <div class="row justify-content-around Noticias">
           <div class="col-12 col-sm-12 col-md-8 col-lg-5 col-xl-4  seccion">
                   <div class="card" style="width:25em">
                           <img class="card-img-top" src="assets/Imagenes/Amazonas.jpg" alt="Card image" style="width:100%">
                           <div class="card-body info">
                             
                             <p class="card-text">Lo que sabemos hasta ahora de los incendios en el Amazonas: la selva podría ir camino a un desastre.</p>
                             <a href="https://cnnespanol.cnn.com/2019/08/22/lo-que-sabemos-hasta-ahora-de-los-incendios-en-el-amazonas-la-selva-podria-ir-camino-a-un-desastre/" target="blank" class="btn btn-primary">Ver más</a>
                           </div>
                         </div>
   
           </div>
    
           <div class="col-12 col-sm-12 col-md-8 col-lg-5 col-xl-4  seccion">
                   <div class="card" style="width:25em" >
                           <img class="card-img-top" src="assets/Imagenes/Volcan.jpg" alt="Card image" style="width:100%">
                           <div class="card-body info">
                             
                             <p class="card-text ">Colombia perdió el 18% de su área glaciar en los últimos siete años; su biodiversidad está en peligro, según informe </p>
                             <a href="https://cnnespanol.cnn.com/2018/07/13/colombia-perdio-el-18-de-su-area-glaciar-en-los-ultimos-siete-anos-su-biodiversidad-esta-en-peligro-segun-informe/" target="blank" class="btn btn-primary">Ver más</a>
                           </div>
                         </div>
   
           </div>
       </div>
       <div class="row justify-content-around Noticias">
               <div class="col-12 col-sm-12 col-md-8 col-lg-5 col-xl-4 seccion ">
                       <div class="card" style="width:25em">
                               <img class="card-img-top" src="assets/Imagenes/Petroleo.jpg" alt="Card image" style="width:100%">
                               <div class="card-body info">
                                 
                                 <p class="card-text">Manchas de petróleo que aparecieron en Septiembre afectan a más de 150 localidades del noreste de Brasil.</p>
                                 <a href="https://cnnespanol.cnn.com/2019/10/11/alerta-manchas-de-petroleo-afectan-a-mas-de-150-localidades-del-noreste-de-brasil/" target="blank" class="btn btn-primary">Ver más</a>
                               </div>
                             </div>
       
               </div>

               <div class="col-12 col-sm-12 col-md-8 col-lg-5 col-xl-4 seccion">
                       <div class="card" style="width:25em">
                               <img class="card-img-top" src="assets/Imagenes/Dispositivo.jpg" alt="Card image" style="width:100%">
                               <div class="card-body info">
                                 
                                 <p class="card-text ">Un dispositivo flotante creado para limpiar el plástico del océano Pacífico finalmente está haciendo su trabajo.</p>
                                 <a href="https://cnnespanol.cnn.com/2019/10/04/un-dispositivo-flotante-creado-para-limpiar-el-plastico-del-oceano-pacifico-finalmente-esta-haciendo-su-trabajo/" target="blank" class="btn btn-primary">Ver más</a>
                               </div>
                             </div>
       
               </div>
    </div>
</div>
</body>

<footer>
        <div class="container">
        
            <div class="row ">
                   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 frase">
                           <p><b>"Como consumidor tienes mucho por hacer para el Planeta"</b></p>
                   </div>
                 </div>
                <div class="row  Redes">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" class="red">
                        <a target="blank" href="https://www.facebook.com/">
                          <img src="assets/Imagenes/facebook.png" alt="facebook">
                        </a>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-1" class="red">
                         <a target="blank" href="https://twitter.com/?lang=es">
                            <img src="assets/Imagenes/twitter.png" alt="twitter" >
                        </a>
                    </div>  
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-1" class="red">        
                        <a target="blank" href="https://www.youtube.com/">
                            <img src="assets/Imagenes/youtube.png" alt="youtube">
                        </a>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-1 "class="red" > 
                        <a target="blank" href="https://www.instagram.com/?hl=es-la">
                            <img src="assets/Imagenes/instagram.png" alt="Instagram"  >
                        </a>
                    </div>
            </div>
        
                 <div class="row justify-content-around frases">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 frase1">
                           <p>Bogotá, D.C</p>
                           
                       </div>
                       <div class="col-xs-10 col-sm-10 col-md-10 col-lg-8 col-xl-8 frase2 float-right">
                            <p>Tu Impacto Colombia 2019 Copyright © Todos los derechos reservados.</p>
                        </div>
                 </div>
                
            </div>
<footer>
