
<div class="container-fluid Inicio" style="height: 850px;">
    <div class="row">
    <div class="col-10 col-md-6 Logo  ">
        <img src="assets/Imagenes/Logo1.png" alt="Logo">
        
    </div>
    
    <div class="col-6 d-none d-md-block Menu" >
            <ul class="nav">
                    <li><a routerLink="/">INICIO</a></li>
                    <li><a routerLink="/conocenos">CONÓCENOS</a></li>
                    <li><a routerLink="/">INVOLÚCRATE</a>
                        <ul class="col-6 col-xl-3 nav2">
                            <form>
                                <br><br>
                                <li><input type="text" id="email" name="correo" placeholder="Correo Electrónico"></li>
                                <br><br>
                                <li><input type="password" id="passw" name="contraseña" placeholder="Contraseña"></li>
                                <br><br>
                                <li><a routerLink="/registrarse" id="cuenta">Crear una cuenta</a></li>
                            
                            </form>
                            <button type="button" class="boton0"><a routerLink="/involucrate">Iniciar Sesión</a></button>
                        </ul>
                    </li>
            </ul>
    </div>

    

        <div class="col-2  d-md-none  bordem">
            <!--<img src="assets/Imagenes/Menu.png" alt="IconoMenu">-->
            <button type="button" mat-button (click)="drawer.toggle()"><img src="assets/Imagenes/Menu.png" alt="IconoMenu"></button>
        </div>
    </div>
</div>

<div class="row  justify-content-center">
        <div class="col-4 boton1 borde11">
            <button type="button" class="btn btn-block">IMPACTO</button>

        </div>
        <div class="col-4 boton1 borde11">
            <button type="button" class="btn btn-block">ACTUALIDAD</button>
        </div>

</div>

<div class="container-fluid border Impacto" style="height: 1000px;">
        <div class="row">

        </div>

    <div class="row justify-content-center">
        <div class="T_Impacto">
            
            <p><b>IMPACTO</b></p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row Estadisticas">
            <div class="col-6 col-md-2 seccion ">
            <img src="assets/Imagenes/Est3.png"  alt="Estadistica1" width="150" height="150"> 
            </div>
            <div class="col-6 col-md-2  ">
                <p> mil millones de botellas de plástico de un solo uso son producidas cada año.</p>
                
            </div>
            <div class="col-6 col-md-2 seccion ">
                    <img src="assets/Imagenes/Est1.png"  alt="Estadistica1" width="150" height="150"> 
            </div>
            <div class="col-6 col-md-2  ">
                <p> de los plásticos desechados hasta hoy ha terminado en el medioambiente.</p>
                    
            </div>
            <div class="col-6 col-md-2 seccion ">
                    <img src="assets/Imagenes/Est2.png"  alt="Estadistica1" width="150" height="150"> 
            </div>
            <div class="col-6 col-md-2  ">
                <p> de las tortugas marinas ha ingerido algún desecho plástico al confundirlo con alimento.</p>          
            </div>
        </div>
</div>
<div class="container-fluid">
    <div class="row Informacion">

            <div class="col-12 col-md-7  I_Info ">
                  <img src="assets/Imagenes/Plastico.jpg"  class="img-fluid" alt="Plastico" width="900" height="550"> 
               </div>
               <div class="col-12  col-md-5  T_Info">
                   <br><br>
                  <p><b>La contaminación del entorno marino debido al plástico causa anualmente la muerte de 100.000 mamíferos marinos y de un millón de aves, según cifras de la Organización de las Naciones Unidas (ONU). Hoy en día, de todo el plástico que se ha producido y consumido, solo el 9% se ha reciclado, el 12% se ha incinerado, y la gran mayoría, el 79% (unos 6.300 millones de toneladas), ha terminado en vertederos, océanos o en el medio ambiente y ya han sido hallados hasta en las zonas más profundas, a más de100.000 metros de profundidad.</b></p>
                   
               </div>
           </div>
       
<div class="container-fluid">      
             <div class="row MoreInfo">
               
               <div class="col-12  col-md-6   T_MInfo">
                   <p>Cada año se desechan entre 5 y 12,7 millones de toneladas métricas de plástico por parte de las personas que viven a 50 kilómetros de la costa, pero los plásticos que se encuentra en la superficie representan menos del 15% de todos los desechos que hay en el mar.
                    En el momento que los objetos de plástico llegan al mar pueden dispersarse fácilmente y quedarse flotando en la superficie, ser ingeridos por la fauna marina, hundirse y acumularse en su parte inferior o incluso pueden quedar atrapados en el hielo del Ártico, por esta razón es que se encuentran restos de plásticos alrededor del planeta
                    </p>
               </div>
                
                <div class=" col-12  col-md-6  I_MInfo ">
                  <img src="assets/Imagenes/Playa.jpg" class="img-fluid" alt="Imagen" > 
               </div>
                   
           </div>
</div> 
           <div class="row Contenido">
                <div class="col-12 col-md-6 I1_MInfo ">
                   <img src="assets/Imagenes/Plastico2.jpg"  alt="Imagen" class="img-fluid" > 
           </div>
           <div class="col-12 col-md-6 T1_MInfo ">
               <br>
               <p>El rápido aumento de productos de plásticos comenzó en las décadas de 1920 y 1930 en Estados Unidos, desde donde se extendió al resto del mundo. En los últimos 65 años se calcula se han producido 8.300 millones de toneladas en el mundo y más de la mitad de todo esto ha sido fabricado en los últimos 13 años. 
                Paradójicamente, cuando hace menos de un siglo se comenzó a usar este material a escala industrial, se pensó que era la promesa de un futuro utópico, hoy en día “Existen suficientes restos de plásticos en el mundo para cubrir un país entero del tamaño de Argentina”, dijo Roland Greyer, investigador de la Universidad de California en Santa Bárbara, no extraña entonces que los ecologistas hablen de un "apocalipsis del plástico" y se multiplique por el mundo la prohibición de su uso.
                </p>
                    
           </div> 
       </div>
   
           <div class="row Contenido2">
          
           <div class="col-12 col-md-6 I1_MInfo ">
                   <img src="assets/Imagenes/Tortuga2.jpg" class="img-fluid" alt=""> 
           </div>
           <div class="col-12 col-md-6 T1_MInfo ">
               <br>
               <p>Actualmente América, Japón y la Unión Europea son los mayores productores de desechos plásticos per cápita, estas zonas superficiales tienen una elevada concentración de microplásticos en las costas y el litoral, especialmente en regiones con altas poblaciones costeras, con sistemas de gestión de residuos inadecuados, pesquerías intensivas, o turismo elevado.
                No hay duda de que el océano sostiene la vida en la tierra y el 80% del turismo en el mundo se realiza cerca del mar, pero la cantidad de millones de toneladas de residuos de plástico que existen en el mar, equivale a arrojar cada minuto un camión lleno de plástico en ellos, lo que revela una tendencia creciente en la producción y consumo de este material, sin preocuparse por el lugar a dónde van a parar y los efectos que causan.
                </p>
               </div>
                        
           </div>
   <div class="container-fluid ">
              <div class="row justify-content-center">
          
           <div class="col-10 Img">
   
                   <img src="assets/Imagenes/Bolsa.jpg" class="img-fluid" alt="Imagen"> 
                   
           </div>
        </div>      
    </div>
</div>   
   <div class="container-fluid   border Actualidad" style="height: 1000px;">
             
           <div class="row">
               <div class="col-12  T_Actualidad">
                   
                   <p><b>ACTUALIDAD</b></p>
               </div>
           </div>
   </div>
   
   <div class="row justify-content-center Noticias">
           <div class="col-8 col-md-4 seccion">
                   <div class="card" style="width:400px">
                           <img class="card-img-top" src="assets/Imagenes/Amazonas.jpg" alt="Card image" style="width:100%">
                           <div class="card-body info">
                             
                             <p class="card-text">Lo que sabemos hasta ahora de los incendios en el Amazonas: la selva podría ir camino a un desastre.</p>
                             <a href="https://cnnespanol.cnn.com/2019/08/22/lo-que-sabemos-hasta-ahora-de-los-incendios-en-el-amazonas-la-selva-podria-ir-camino-a-un-desastre/" target="blank" class="btn btn-primary">Ver más</a>
                           </div>
                         </div>
   
           </div>
           <div class=col-1>
   
           </div>
           <div class="col-8 col-md-4 seccion">
                   <div class="card" style="width:400px">
                           <img class="card-img-top" src="assets/Imagenes/Volcan.jpg" alt="Card image" style="width:100%">
                           <div class="card-body info">
                             
                             <p class="card-text ">Colombia perdió el 18% de su área glaciar en los últimos siete años; su biodiversidad está en peligro, según informe </p>
                             <a href="https://cnnespanol.cnn.com/2018/07/13/colombia-perdio-el-18-de-su-area-glaciar-en-los-ultimos-siete-anos-su-biodiversidad-esta-en-peligro-segun-informe/" target="blank" class="btn btn-primary">Ver más</a>
                           </div>
                         </div>
   
           </div>
       </div>
       <div class="row justify-content-center Noticias">
               <div class="col-8 col-md-4 seccion ">
                       <div class="card" style="width:400px">
                               <img class="card-img-top" src="assets/Imagenes/Petroleo.jpg" alt="Card image" style="width:100%">
                               <div class="card-body info">
                                 
                                 <p class="card-text">Manchas de petróleo afectan a más de 150 localidades del noreste de Brasil.</p>
                                 <a href="https://cnnespanol.cnn.com/2019/10/11/alerta-manchas-de-petroleo-afectan-a-mas-de-150-localidades-del-noreste-de-brasil/" target="blank" class="btn btn-primary">Ver más</a>
                               </div>
                             </div>
       
               </div>
               <div class=col-1>
       
               </div>
               <div class="col-8 col-md-4 seccion">
                       <div class="card" style="width:400px">
                               <img class="card-img-top" src="assets/Imagenes/Dispositivo.jpg" alt="Card image" style="width:100%">
                               <div class="card-body info">
                                 
                                 <p class="card-text ">Un dispositivo flotante creado para limpiar el plástico del océano Pacífico finalmente está haciendo su trabajo.</p>
                                 <a href="https://cnnespanol.cnn.com/2019/10/04/un-dispositivo-flotante-creado-para-limpiar-el-plastico-del-oceano-pacifico-finalmente-esta-haciendo-su-trabajo/" target="blank" class="btn btn-primary">Ver más</a>
                               </div>
                             </div>
       
               </div>
    </div>

